<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{post.title}} | Ritik Kumar</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="post-view-header">
    <nav><a href="/">← Back to Home</a></nav>
  </header>

  <main>
    <div class="post-header-container">
      <h1>{{post.title}}</h1>
      <p class="meta">Published: {{post.createdAt}} • {{post.views}} views</p>
    </div>
    
    <div class="content">
      {{{post.content}}}
    </div>
  </main>
</body>
</html>
