<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{post.title}} | Ritik Kumar</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav><a href="/">← cd ..</a></nav>
  </header>

  <main>
    <h1>{{post.title}}</h1>
    <p class="meta">Published: {{post.createdAt}} &bull; {{post.views}} views</p>
    
    <div class="content">
      {{{post.content}}}
    </div>
  </main>
</body>
</html>
